<form class="form-container" [formGroup]="loginFormGroup" (submit)="submit()">
  <p>Login</p>
  <mat-form-field appearance="fill">
    <mat-label>Enter the username:</mat-label>
    <input
      matInput
      placeholder="Username"
      formControlName="username"
      required
      maxlength="50"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter the password:</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button color="primary" mat-button class="submit-btn" inputmode="submit">
    Login<mat-icon style="margin-left: 4px">send</mat-icon>
  </button>
</form>
