@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  margin: 0;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  margin-top: 4% !important;
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 4px !important;
    margin-left: 4% !important;
  }
}
