.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.form-container {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 4%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
