table {
  width: 100%;
}

.example-container {
  margin-top: 4%;
  height: auto;
  overflow: auto;
  caption {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 20px;
    font-weight: 400;
  }
}

.options-container {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}