<div class="container">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let student of students; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title> {{student.fullName}}</mat-panel-title>
          <mat-panel-description>
            Edit data for student {{ student.fullName }}
            <mat-icon>edit</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <form
          class="form-container"
          [formGroup]="formGroupArray[i]"
          (submit)="submitEdit(i)"
        >
          <p>Name: {{ student.fullName }}</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="fullName" />
          </mat-form-field>
          <p>Email: {{ student.email }}</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="email" />
          </mat-form-field>
          <p>Year: {{ student.year }}</p>
          <mat-form-field appearance="fill">
            <input matInput type="number" formControlName="year" />
          </mat-form-field>
          <p>IdentificationNumber: {{ student.identificationNumber }}</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="identificationNumber" />
          </mat-form-field>
          <p>Group: {{ student.group }}</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="group" />
          </mat-form-field>
  
          <button
            color="primary"
            mat-button
            class="submit-btn"
            inputmode="submit"
          >
            Edit<mat-icon style="margin-left: 4px">edit</mat-icon>
          </button>
          <button
            color="primary"
            mat-button
            class="submit-btn"
            (click)="deleteLab(student)"
          >
            Delete<mat-icon style="margin-left: 4px">delete</mat-icon>
          </button>
        </form>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> New student </mat-panel-title>
          <mat-panel-description>
            Add a new homework for {{ courseTitle }}
            <mat-icon>add</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <form
          class="form-container"
          [formGroup]="addFormGroup"
          (submit)="submitAdd()"
        >
        <p>Name</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="fullName" />
          </mat-form-field>
          <p>Email</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="email" />
          </mat-form-field>
          <p>Year</p>
          <mat-form-field appearance="fill">
            <input matInput type="number" formControlName="year" />
          </mat-form-field>
          <p>IdentificationNumber</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="identificationNumber" />
          </mat-form-field>
          <p>Group</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="group" />
          </mat-form-field>
  
          <button
            color="primary"
            mat-button
            class="submit-btn"
            inputmode="submit"
          >
            Add a new student for {{courseTitle}}<mat-icon style="margin-left: 4px">add</mat-icon>
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  