<mat-list>
    <mat-list-item role="listitem"><button mat-button>I.NET</button></mat-list-item>
    <mat-list-item role="listitem"><button mat-button>Catalog</button></mat-list-item>
    <mat-list-item role="listitem"><button mat-button>Labs</button></mat-list-item>
    <mat-list-item role="listitem"><button mat-button>Courses</button></mat-list-item>
    <mat-list-item role="listitem"><button mat-button>Teachers</button></mat-list-item>
    <mat-list-item role="listitem"><button mat-button>Contact</button></mat-list-item>
</mat-list>
        
    