<mat-list>
    <mat-list-item role="listitem" (click)="goToDashboard()"><button mat-button>I.NET</button></mat-list-item>
    <mat-list-item role="listitem" (click)="goToCatalog()"><button mat-button>Catalog</button></mat-list-item>
    <mat-list-item role="listitem" (click)="goToHomeworks()"><button mat-button>Homeworks</button></mat-list-item>
    <mat-list-item role="listitem" (click)="goToCourses()"><button mat-button>Courses</button></mat-list-item>
    <mat-list-item role="listitem" (click)="goToTeachers()"><button mat-button>Teachers</button></mat-list-item>
</mat-list>
        
    